@font-face {
  font-family: "iconfont"; /* Project id 4187099 */
  src: url('//at.alicdn.com/t/c/font_4187099_vg2oopuqy1.woff2?t=1690513543167') format('woff2'),
       url('//at.alicdn.com/t/c/font_4187099_vg2oopuqy1.woff?t=1690513543167') format('woff'),
       url('//at.alicdn.com/t/c/font_4187099_vg2oopuqy1.ttf?t=1690513543167') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e666";
}

